/**
 * MIXIN: Responsive Media Queries.
 *
 * Creates responsive media queries for seven different screen sizes.
 * These are based on min-width which means if x is the size then your
 * CSS will affect any device with screen width x and above.
 *
 * USAGE: 
 *  @include r(240)  { }
 *  @include r(320)  { }
 *  @include r(480)  { }
 *  @include r(768)  { }
 *  @include r(769)  { } Above Tablet Portrait
 *  @include r(1024) { }
 *  @include r(1025) { } Above Tablet Landscape
 *  @include r(1140) { }
 *  @include r(1280) { }
 *  @include r(1280) { } Student Laptop
 *  @include r(1500) { }
 *
 * CSS content goes inside {} brackets. These mixins should be used inside
 * a class definition. For example:
 *
 * The following CSS will hide the .header on screen width 320px and above.
 * .header {
 *    @include r(320)  { display: none; }
 * }
 *
 * @author Ahmad Awais (https://github.com/ahmadawais)
 */
/* global box-sizing */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%;
  height: 100%;
  min-height: 100%;
}

body {
  font: 400 11px/1.4 sans-serif;
  margin: 0;
  height: 100%;
  min-height: 100%;
  word-break: break-word;
  -webkit-word-break: break-word;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

#container {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  background-color: white;
  position: relative;
  top: 0;
}

@media (min-width: 920px) {
  #container {
    max-width: 970px;
    border: 1px solid #ddd;
  }
}

header {
  width: 100%;
  text-align: center;
  background: url(../img/forrest.jpg) no-repeat;
  background-size: cover;
  padding-bottom: 180px;
  position: relative;
}

@media (min-width: 768px) {
  header {
    background-size: 100%;
  }
}

header a {
  display: inline-block;
  position: absolute;
  left: calc(50% - 65px);
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 14px;
  background-color: #255ca0;
  margin-top: 15px;
  color: #bcf0ff;
  -webkit-transition: color 0.2s ease-in, -webkit-transform 0.1s ease-out, -webkit-box-shadow 0.3s;
  transition: color 0.2s ease-in, -webkit-transform 0.1s ease-out, -webkit-box-shadow 0.3s;
  transition: transform 0.1s ease-out, box-shadow 0.3s, color 0.2s ease-in;
  transition: transform 0.1s ease-out, box-shadow 0.3s, color 0.2s ease-in, -webkit-transform 0.1s ease-out, -webkit-box-shadow 0.3s;
}

header a img {
  opacity: .5;
  width: 14px;
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
}

header a:visited {
  color: #bcf0ff;
}

header a:hover, header a:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
  color: white;
  overflow: hidden;
}

header a:hover img, header a:focus img {
  -webkit-animation: point 0.7s infinite;
          animation: point 0.7s infinite;
}

@-webkit-keyframes point {
  from {
    left: -5px;
    opacity: 0.1;
  }
  to {
    left: 5px;
    opacity: 0.8;
  }
}

@keyframes point {
  from {
    left: -5px;
    opacity: 0.1;
  }
  to {
    left: 5px;
    opacity: 0.8;
  }
}

header h1 {
  margin: 0;
  padding-top: 40px;
}

@media (min-width: 920px) {
  header h1 {
    padding-top: 55px;
  }
}

header h1 #title {
  display: block;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

header h1 #title img {
  width: 110px;
}

header h1 #title #online, header h1 #title #school {
  color: #255ca0;
  font-weight: 800;
}

header h1 #title #online {
  font-size: 73px;
  line-height: 63px;
  margin-bottom: -8px;
}

@media (min-width: 768px) {
  header h1 #title #online {
    font-size: 93px;
    line-height: 83px;
    margin-bottom: -8px;
  }
}

header h1 #title #school {
  font-size: 64px;
  line-height: 64px;
  position: relative;
  left: 8px;
}

@media (min-width: 768px) {
  header h1 #title #school {
    font-size: 84px;
    line-height: 84px;
    position: relative;
    left: 8px;
  }
}

header h1 #title #new {
  position: absolute;
  left: -10px;
  top: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #255ca0;
  -webkit-transform: rotate(-31deg);
          transform: rotate(-31deg);
  background: #f5d25d;
  border-radius: 5px;
  padding: 5px 10px;
}

@media (min-width: 768px) {
  header h1 #title #new {
    top: 40px;
  }
}

h2 {
  text-transform: uppercase;
  font-size: 21px;
}

#mockups {
  text-align: center;
  z-index: 100;
  position: relative;
}

#mockups img {
  width: 90%;
  margin-left: 25px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  #mockups img {
    width: 600px;
    margin-left: 40px;
    margin-top: -20px;
  }
}

#callouts {
  text-align: center;
}

#callouts h2 {
  color: #255ca0;
}

#callouts ul {
  padding-left: 0;
  list-style-type: none;
  margin-top: 30px;
}

#callouts ul li {
  vertical-align: top;
  line-height: 24px;
  font-size: 14px;
  color: #4e5b6b;
  display: inline-block;
  width: 250px;
  padding: 0 10px;
}

#callouts ul li:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  #callouts ul li {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
  }
  #callouts ul li:nth-child(1), #callouts ul li:nth-child(2) {
    margin-bottom: 30px;
  }
}

@media (min-width: 920px) {
  #callouts ul li {
    width: 190px;
  }
}

#release-schedule {
  margin: 50px 0;
  background: #ddf5f9 url(../img/island-background.jpg) no-repeat;
  padding-bottom: 50px;
  background-size: cover;
}

@media (min-width: 920px) {
  #release-schedule {
    background-size: 100%;
    background-color: white;
  }
}

#release-schedule #island {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  #release-schedule #island {
    text-align: left;
    width: auto;
  }
}

#release-schedule #island img {
  margin-top: 50px;
  width: 200px;
}

@media (min-width: 768px) {
  #release-schedule #island img {
    margin-left: -40px;
    margin-top: 50px;
    width: 320px;
    margin-left: -100px;
    margin-top: 100px;
    width: 200px;
  }
}

@media (min-width: 920px) {
  #release-schedule #island img {
    margin-left: -40px;
    margin-top: 50px;
    width: 320px;
  }
}

#release-schedule #chart-container {
  display: block;
  width: 100vw;
  padding: 0 20px;
  overflow-x: auto;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  #release-schedule #chart-container {
    overflow: hidden;
    padding: 50px 0 0 0;
    max-width: 630px;
    margin-left: 30px;
    display: inline-block;
  }
}

@media (min-width: 920px) {
  #release-schedule #chart-container {
    padding-top: 100px;
  }
}

#release-schedule #chart-container h2 {
  text-align: center;
  color: #4d8833;
  margin-bottom: 0;
}

@media (min-width: 920px) {
  #release-schedule #chart-container h2 {
    margin-bottom: 30px;
  }
}

#release-schedule #chart-container #bar-chart2 {
  height: 230px;
  width: 140px;
  display: inline-block;
  position: relative;
  margin-top: 15px;
}

@media (min-width: 768px) {
  #release-schedule #chart-container #bar-chart2 {
    margin-top: 0;
    margin-left: 20px;
  }
}

#release-schedule #chart-container #bar-chart2 #lines {
  height: 230px;
  list-style-type: none;
  padding-left: 0;
}

#release-schedule #chart-container #bar-chart2 #lines li {
  color: #255ca0;
  font-size: 13px;
  min-width: 60px;
  padding: 0 10px 0 2px;
  height: inherit;
  display: inline-block;
  border-left: 1px solid #a6dae2;
  vertical-align: bottom;
  position: relative;
}

#release-schedule #chart-container #bar-chart2 #lines li span {
  position: relative;
  top: calc(100% - 15px);
  left: 2px;
}

#release-schedule #chart-container #bar-chart2 #lines li span.year {
  font-weight: bold;
  font-size: 14px;
}

#release-schedule #chart-container #bar-chart2 #bars {
  position: absolute;
  top: 0;
  list-style-type: none;
  padding-left: 0;
  width: inherit;
  padding-top: 50px;
}

#release-schedule #chart-container #bar-chart2 #bars li {
  font-size: 12px;
  line-height: 12px;
  background: #255ca0;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin: 7px 0;
  border-radius: 5px;
  padding: 2px 4px;
  border-top: 2px solid #ddf4f8;
  border-bottom: 2px solid #ddf4f8;
  text-align: center;
  width: 60px;
}

#release-schedule #chart-container #bar-chart2 #bars li:nth-child(1) {
  background-color: #38cfe9;
  color: #11424b;
  margin-left: 2px;
}

#release-schedule #chart-container #bar-chart2 #bars li:nth-child(2) {
  margin-left: 65px;
  background-color: #92ba2f;
  color: #28340e;
}

#release-schedule #chart-container #bar-chart1 {
  height: 230px;
  width: 455px;
  display: inline-block;
  position: relative;
}

#release-schedule #chart-container #bar-chart1 #lines {
  height: 230px;
  list-style-type: none;
  padding-left: 0;
}

#release-schedule #chart-container #bar-chart1 #lines li {
  color: #255ca0;
  font-size: 13px;
  min-width: 45px;
  padding: 0 10px 0 2px;
  height: inherit;
  display: inline-block;
  border-left: 1px solid #a6dae2;
  vertical-align: bottom;
  position: relative;
}

#release-schedule #chart-container #bar-chart1 #lines li span {
  position: relative;
  top: calc(100% - 15px);
  left: 2px;
}

#release-schedule #chart-container #bar-chart1 #lines li span.year {
  font-weight: bold;
  font-size: 14px;
}

#release-schedule #chart-container #bar-chart1 #bars {
  position: absolute;
  top: 0;
  list-style-type: none;
  padding-left: 0;
  width: inherit;
  padding-top: 25px;
}

#release-schedule #chart-container #bar-chart1 #bars li {
  font-size: 12px;
  background: #255ca0;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin: 7px 0;
  border-radius: 5px;
  padding: 2px 7px;
  border-top: 2px solid #ddf4f8;
  border-bottom: 2px solid #ddf4f8;
  text-align: center;
}

#release-schedule #chart-container #bar-chart1 #bars li:nth-child(1) {
  width: 105px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#release-schedule #chart-container #bar-chart1 #bars li:nth-child(2) {
  width: 200px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#release-schedule #chart-container #bar-chart1 #bars li:nth-child(3) {
  width: 242px;
  margin-left: 64px;
}

#release-schedule #chart-container #bar-chart1 #bars li:nth-child(4) {
  width: 263px;
  margin-left: 215px;
}

#release-schedule #chart-container #bar-chart1 #bars li:nth-child(5) {
  width: 205px;
  margin-left: 310px;
}

#release-breakdown {
  position: relative;
  text-align: left;
  padding: 0 20px;
}

#release-breakdown #islands {
  position: absolute;
  right: -40px;
  bottom: -140px;
}

#release-breakdown #islands img {
  width: 360px;
}

@media (min-width: 768px) {
  #release-breakdown #islands {
    right: -40px;
    top: 200px;
  }
}

#release-breakdown h2 {
  color: #ba551b;
  margin-left: 20px;
}

@media (min-width: 768px) {
  #release-breakdown h2 {
    margin-bottom: 50px;
    margin-left: 50px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  #release-breakdown {
    text-align: center;
    padding: 0;
  }
}

#release-breakdown ul {
  max-width: 240px;
  margin: 20px 21px;
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
  text-align: left;
  vertical-align: top;
}

@media (min-width: 768px) {
  #release-breakdown ul {
    margin: 0 25px;
    max-width: 120px;
    margin: 0 15px;
  }
}

@media (min-width: 920px) {
  #release-breakdown ul {
    margin: 0 25px;
    max-width: 240px;
  }
}

#release-breakdown ul li {
  color: #4e5b6b;
  line-height: 35px;
  font-size: 14px;
}

#release-breakdown ul li.complete, #release-breakdown ul li.in-dev {
  color: #393939;
  font-size: 12px;
  border-radius: 5px;
  font-weight: bold;
  padding: 0 10px;
}

@media (min-width: 768px) {
  #release-breakdown ul li.complete, #release-breakdown ul li.in-dev {
    margin-top: 10px;
  }
}

#release-breakdown ul li.complete span img, #release-breakdown ul li.in-dev span img {
  vertical-align: middle;
}

@media (min-width: 768px) {
  #release-breakdown ul li.complete img, #release-breakdown ul li.in-dev img {
    display: none;
  }
}

@media (min-width: 920px) {
  #release-breakdown ul li.complete img, #release-breakdown ul li.in-dev img {
    display: inline-block;
  }
}

#release-breakdown ul li.complete {
  background: #afdb46;
}

#release-breakdown ul li.in-dev {
  background: #f5d25d;
}

#release-breakdown ul li:first-child {
  text-transform: uppercase;
  color: #ba551b;
  font-weight: bold;
  margin-left: -4px;
  font-size: 12px;
}

#release-breakdown ul li:first-child > span {
  background: #ba551b;
  color: white;
  border-radius: 5px;
  padding: 8px 10px;
  margin-right: 2px;
}

@media (min-width: 768px) {
  #release-breakdown ul li:first-child > span {
    padding: 0 4px;
  }
}

@media (min-width: 920px) {
  #release-breakdown ul li:first-child {
    margin-bottom: 10px;
    font-size: 14px;
  }
  #release-breakdown ul li:first-child > span {
    padding: 8px 10px;
  }
}

#bonus {
  text-align: center;
  background: #fff;
  padding: 30px;
  background-image: url("../img/blue-cutout.svg"), url("../img/confetti.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: right -180px top, left bottom;
  background-size: auto, cover;
}

@media (min-width: 768px) {
  #bonus {
    background-position: right top;
  }
}

@media (min-width: 920px) {
  #bonus {
    padding: 30px 50px;
  }
}

#bonus .zoom {
  width: 50px;
}

#bonus .k12 {
  width: 35px;
  margin: 0 5px;
}

#bonus p {
  color: #393939;
  font-size: 16px;
}

#bonus ul {
  max-width: 700px;
  margin: 30px auto 20px auto;
  display: -ms-grid;
  display: grid;
  list-style-type: none;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 20px;
  padding: 0;
}

@media (min-width: 920px) {
  #bonus ul {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

#bonus ul li a {
  display: block;
  border-radius: 8px;
  border: 3px solid #255ca0;
  overflow: hidden;
  width: 100%;
  -webkit-box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0);
  -webkit-transition: -webkit-box-shadow 0.3s ease-out;
  transition: -webkit-box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#bonus ul li a:hover {
  position: relative;
  z-index: 100;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.7);
}

#bonus ul li a img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#credit {
  background: #6F4F2F;
  color: white;
  font-size: 14px;
  padding: 30px;
  text-align: center;
}

footer {
  padding: 60px 20px 370px 20px;
  background: #024679 url(../img/fox.jpg) no-repeat;
  background-size: 394.5px 388.5px;
  background-position: left calc(50% + 25px) bottom;
  margin: 80px 0 0 0;
}

@media (min-width: 768px) {
  footer {
    padding: 60px 0 100px 0;
  }
}

@media (min-width: 768px) {
  footer #links {
    margin-left: 200px;
  }
}

@media (min-width: 920px) {
  footer #links {
    margin-left: 300px;
  }
}

footer #links h2 {
  color: white;
}

footer #links #columns {
  color: #00e4ff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

footer #links #columns p {
  margin: 0 0 0 10px;
  max-width: 250px;
  display: block;
  font-size: 14px;
}

footer #links #columns p:first-child {
  margin-bottom: 15px;
}

footer #links #columns p a {
  display: block;
}

@media (min-width: 768px) {
  footer #links #columns {
    grid-gap: 0;
  }
}

footer #links #columns > div > a {
  display: inline-block;
  color: #00e4ff;
  margin-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  background: #002948;
  padding: 8px 10px;
  border-radius: 5px;
  overflow: hidden;
}

@media (min-width: 768px) {
  footer #links #columns > div > a {
    font-size: 24px;
    padding: 20px 30px;
  }
}

footer #links #columns > div > a img {
  opacity: .5;
  width: 10px;
  vertical-align: middle;
  position: relative;
}

@media (min-width: 768px) {
  footer #links #columns > div > a img {
    opacity: .2;
    margin-left: 10px;
    width: 30px;
  }
}

footer #links #columns > div > a:hover, footer #links #columns > div > a:focus {
  color: white;
  overflow: hidden;
}

footer #links #columns > div > a:hover img, footer #links #columns > div > a:focus img {
  -webkit-animation: pointer 0.7s infinite;
          animation: pointer 0.7s infinite;
}

@-webkit-keyframes pointer {
  from {
    left: -10px;
    opacity: 0.1;
  }
  to {
    left: 10px;
    opacity: 0.8;
  }
}

@keyframes pointer {
  from {
    left: -10px;
    opacity: 0.1;
  }
  to {
    left: 10px;
    opacity: 0.8;
  }
}

footer #links #columns a {
  color: #00e4ff;
}

footer #links #columns a:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  footer {
    background-position: -80px bottom;
  }
}

@media (min-width: 920px) {
  footer {
    background-position: left bottom;
  }
}
/*# sourceMappingURL=style.css.map */